<div class="row">
    <div class="col-xs-12">
        <button class ="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row" style="display: flex; width: 100%;">
    <div class="col-md-5">
        <app-recipe-item
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"
        (click)="detail(recipeEl)"></app-recipe-item>
    </div>

    <div class="col-md-5" *ngIf="selectedRecipe">
        <app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
            <p>please select a recipe</p>
        </ng-template>
    </div>
</div>


